form {
    max-width:400px ;
}

.container {
    
    padding-top: 150px;
    padding-left: 27%;
}

#termos {
    padding-top: 16px;
    padding-left: 20%;
}

body {
    background-color: rgb(255, 191, 234);
}