body{
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #1a972f;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #1a972f;
}

#cabecalho .nav .nav-link,
.navbar-brand ,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}

.section-title span{
    color: #1a972f;
}

#sobre-o-restaurante,
#cardapio{
    background-color: #1a972fa9;
}

.text-colored {
    color: #1a972f;
}

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: #1a972f;
    color: #fff;
}

.nav-cardapio .nav-link{
    color: #1a972f;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 288px;
    }
}

.logo img{
    max-width: 190px;
}

#sobre-o-restaurante img{
width: 100%;
max-height: 700px;
}

#girafinha img{
    border-radius: 100%;
    height: 400px;
}